.ad_sec {
  text-align: center;
  padding: 100px 0;
}

.ad_head {
  color: #0e054d;
}

.ad_title {
  margin-bottom: 52px;
}

.para_text {
  font-size: 18px;
  font-weight: 500;
  font-family: Avenir-roman;
  color: #183a7a;
}

.ad {
  background-image: url(../../image/ad-bg.png);
  min-height: 492px;
  margin-top: -178px;
  padding-top: 238px;
}

.ad_wave {
  background-image: url(../../image/ad-wave.png);
  padding-bottom: 123px;
  background-size: 100% 100%;
  background-position: bottom;
}

.ad_service {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.service_item {
  padding: 20px 22px;
  box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
}

.ad-heading {
  margin-bottom: 10px;
}

.service_txt {
  line-height: 19.12px;
}

.txt-highlight {
  color: #a871ff;
}

.ad-heading-title {
  margin-bottom: 48px;
}

.ad_comp {
  justify-content: space-between;
}

.ad_list {
  gap: 30px;
}

.ad_item {
  grid-template-columns: 25px 1fr;
  text-align: left;
}


// RESPONSIVE FOR DISPLAY SIZE - 991PX

@media (max-width: 991px) {

  .ad_wave {
    background-size: 100% 50%;
  }
  .ad_service {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    place-items: center;
  }
  .ad_comp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}


// RESPONSIVE FOR DISPLAY SIZE - 767PX

@media (max-width: 767px) {
  .ad_head {
    font-size: 30px;
  }
  .ad_wave {
    background-size: 100% 200px;
  }
  .ad_service {
    grid-template-columns: 1fr;
  }
  .ad_comp {
    grid-template-columns: 1fr;
  }
}
