
// HERO SECTION ======================================================================================
.main{
  margin-top: 68px;
}
.sec_hero{
    background-image:url(../../image/hero-img.png);
    position: relative;
    place-content: center;
    padding: 120px 0;
  }
  
  .hero_wave{
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  
  .hero-discription{
    color: white;
    margin-bottom: 50px;
    line-height: 26px;
  }
  
  .hero_content{
    max-width: 700px;
    width: 100%;
    text-align: center ;
  }

  @media (max-width:767px){
    .big-heading{
      font-size: 32px;
    }
  }

