.track_sec{
    padding: 100px 0;
    text-align: center;
}
.track-heading{
    max-width: 550px;
    width: 100%;
    color: #0E054D;
    margin: 0 auto 18px; 
}

.track{
    grid-template-columns: repeat(5, 1fr);
    gap: 38px;
    place-items: center;
    margin-bottom: 35px;
}
.track_content{
    padding: 26px 10px;
  }

  .track-item{
    background-image: url(../../image/studio-melia.png);
    border-radius: 10px;
    max-width: 190px;
    width: 100%;
    height: 190px;
  }

.growth {
    color: white;
    font-family: "Bebas Neue", cursive;
    font-weight: 400;
    font-size: 50px;
  }
  .discription {
    font-family: Avenir-roman;
    font-size: 10px;
    color: white;
    line-height: 30px;
  }


    // RESPONSIVE FOR DISPLAY SIZE - 1024PX
  @media (max-width: 1024px){
    .track{
        grid-template-columns: repeat(4, 1fr);
    }
}
  
   // RESPONSIVE FOR DISPLAY SIZE - 991PX

   @media (max-width: 991px){
    .track{
        grid-template-columns: repeat(2, 1fr);
    }
  }

    
// RESPONSIVE FOR DISPLAY SIZE - 575PX

@media (max-width: 575px){
    .track_sec{
        padding: 70px 0;
    }
    .track-heading{
        font-size: 24px;
    }
    
    .track{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .track-item{
        max-width: 238px;
        width: 100%;
        height: 150px;
      }
      .track_content{
        padding: 10px;
      }
    }