.work_sec{
    background-image: url(../../image/workwithus.png);
    padding: 50px 0;
    min-height: 650px;
    place-content: center;
}

.work_content{
    text-align: center;
}

.work_heading{
    color: white;
    margin-bottom: 45px;
}


  // RESPONSIVE FOR DISPLAY SIZE - 767PX

  @media (max-width: 767px){
    .work_heading{
        font-size: 24px;
    }
  }