@font-face {
  font-family: Avenirblack;
  src: url(../fonts/AvenirLTStd-Black.otf);
}

@font-face {
  font-family: Avenirroman;
  src: url(../fonts/AvenirLTStd-Roman.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #0e054d;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.d-flex {
  display: flex;
  align-items: center;
}

.d-grid{
  display: grid;
  align-items: center;
}

.font-ave{
    font-family:Avenirroman;
    font-weight: 400;
}

.bg-img{
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading{
  font-size: 32px;
  line-height: 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.hedding-small{
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
}

.text{
  font-family:Avenirroman;
  font-weight: 400;
  color: #183A7A;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding: 11px 165px;
}

.logo {
  width: 242px;
}

.navbar {
  width: 100%;
  justify-content: flex-end;
  gap: 46px;
  color: #0e054d;
}

.arrow {
  width: 8px;
}

.nav_list {
  gap: 32px;
  font-family: Avenirblack;
  font-weight: 800;
  font-size: 14px;
}

.btn {
  background: #a871ff;
  padding: 16px 52px;
  border-radius: 30px;
  font-size: 14px;
  color: white;
}

//Hero
.hero_img {
  background-image: url("../image/hero-img.png");
  height: 100vh;
  position: relative;
}

.hero_wave {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.hero_content {
  color: white;
  text-align: center;
  max-width: 700px;
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}

.hero_heading {
  font-size: 46px;
  line-height: 55px;
}

.hero_para {
  color: #f1e4ff;
  margin-bottom: 50px;
  font-family: Avenirroman;
  font-weight: 400;
}

.partner-list{
    justify-content: center;
    gap:30px;
    padding-bottom: 102px;
}

.partners{
    padding: 50px 0 54px;
    text-align: center;
}

.feedback{
    max-width: 886px;
    width: 100%;
    margin: 0 auto;
    padding: 33px 0 13px;
    color: #0e054d;
}

.feedback_highlight{
  background: #F1E4FF;
}

.ceo{
  color: #818299;
}

.result_sec{
  background-image: url(../image/result-wave.png);
  position: relative;
}

.result_bgimg{
  width: 100%;
}

.wave-line{
  width: 100%;  
}

.result_waveline{
 background-image: url(../svg/wave-bg.svg);

}

.result_content{
  position: absolute;
  left: 50%;
  top: 127px;
  transform: translate(-50%,50%);
  color: white;
  text-align: center;
}

.result_text{
  font-size: 12px;
  font-weight: 800;
  color: #A871FF;
  letter-spacing: 0.1em;
}

.result_para2 {
  font-size: 14px;
  font-weight: 800;
  font-style: normal;
 }

.result_client{
  gap: 81px;
}

.result_annual{
  font-family: 'Bebas Neue', cursive;
  font-weight: 400;
font-size: 100px;
color: #A871FF;
}

.result_ann_para{
  letter-spacing: 0.1em;
}

.sec_ad{
  padding: 108px 0 97px;
  text-align: center;
}

.ad_head{
  color: #0E054D;
}

.para_text{
  font-size: 18px;
  font-weight: 500;
  font-family:Avenirroman;
  margin-bottom: 52px;
}

.ad_service{
  grid-template-columns: repeat(3,300px);
  justify-content: center;
  margin-bottom: -196px;
}

.service_item{
   padding: 20px 22px;
}

.ad-heading{
  max-width: 160px;
  width: 100%;
  margin: 0 auto;
}

.service_txt{
  line-height: 19.12px;
  margin-top: 10px;
}

.ad-heading-title{
  color: #A871FF;
  margin-bottom: 48px;
}

.ad_bgimg{
  background-image:url(../image/ad-bg.png);
}

.ad_wave{
  background-image: url(../image/ad-wave.png);
  padding: 200px 0;
}

.ad_item{
  grid-template-columns: 25px 1fr;
  text-align: left;
  margin-bottom: 30px;

}

.ad-comp{
  gap: 36px;
  justify-content: center;
}
