// FONT FAMILIES

@font-face {
  font-family: Avenirblack;
  src: url(../fonts/AvenirLTStd-Black.otf);
}

@font-face {
  font-family: Avenirroman;
  src: url(../fonts/AvenirLTStd-Roman.otf);
}

@font-face {
  font-family: Avenirheavy;
  src: url(../fonts/Avenir\ Heavy.ttf);
}

@font-face {
  font-family: Avenirbook;
  src: url(../fonts/AvenirLTStd-Book.otf);
}

// COMMON CLASS

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #0e054d;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.d-flex {
  display: flex;
  align-items: center;
}

.d-grid {
  display: grid;
  align-items: center;
}

.bg-img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading {
  //h3
  font-size: 32px;
  line-height: 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.hedding-small {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
}

.para {
  font-family: Avenirbook;
  // font-family: Avenirblack;
  font-size: 14px;
  font-weight: 800px;
  letter-spacing: 0.1em;
}

.text {
  font-family: Avenirroman;
  font-weight: 400;
  color: #183a7a;
}

.text-highlight {
  color: #a871ff;
}

.header {
  padding: 11px 165px;
}

.logo {
  width: 242px;
}

.navbar {
  width: 100%;
  justify-content: flex-end;
  gap: 46px;
  color: #0e054d;
}

.arrow {
  width: 8px;
}

.nav_list {
  gap: 32px;
  letter-spacing: 0;
}

.btn {
  background: #a871ff;
  padding: 16px 52px;
  border-radius: 30px;
  font-size: 14px;
  color: white;
}

.pos-abs{
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}

//Hero SECTION

.hero_img {
  background-image: url("../image/hero-img.png");
  height: 100vh;
  position: relative;
}

.hero_wave {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.hero_content {
  color: white;
  text-align: center;
  max-width: 700px;
  width: 100%;
}

.hero_heading {
  font-size: 46px;
  line-height: 55px;
}

.hero_para {
  color: #f1e4ff;
  margin-bottom: 50px;
}

// PARTENERS SECTION

.partner-list {
  justify-content: center;
  gap: 30px;
  padding-bottom: 102px;
}

.partners {
  padding: 50px 0 54px;
  text-align: center;
}

.feedback {
  max-width: 886px;
  width: 100%;
  margin: 0 auto;
  padding: 33px 0 13px;
  color: #0e054d;
}

.ceo {
  font-family: Avenirheavy;
  color: #818299;
}

// RESULT SECTION

.result_sec {
  background-image: url(../image/result-wave.png);
  position: relative;
}

.result_bgimg {
  width: 100%;
}

.wave-line {
  width: 100%;
}

.result_waveline {
  background-image: url(../svg/wave-bg.svg);
}

.result_content {
  color: white;
  text-align: center;
}

.result_textup {
  font-family: Avenirheavy;
  font-size: 12px;
  color: #a871ff;
}

.result_textdown {
  letter-spacing: 0;
}

.result_client {
  gap: 81px;
}

.result_annual {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 100px;
  color: #a871ff;
}

.result_ann_para {
  font-family: Avenirheavy;
  font-size: 12px;
  color: #f1e4ff;
}

// AD SECTION

.sec_ad {
  padding: 108px 0 97px;
  text-align: center;
}

.ad_head {
  color: #0e054d;
}

.para_text {
  font-size: 18px;
  font-weight: 500;
  font-family: Avenirroman;
  margin-bottom: 52px;
}

.ad_service {
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  margin-bottom: -196px;
}

.service_item {
  padding: 20px 22px;
}

.ad-heading {
  max-width: 160px;
  width: 100%;
  margin: 0 auto;
}

.service_txt {
  line-height: 19.12px;
  margin-top: 10px;
}

.ad-heading-title {
  margin-bottom: 48px;
}

.ad_bgimg {
  background-image: url(../image/ad-bg.png);
}

.ad_wave {
  background-image: url(../image/ad-wave.png);
  padding: 200px 0;
}

.ad_item {
  grid-template-columns: 25px 1fr;
  text-align: left;
  margin-bottom: 30px;
}

.ad_comp {
  gap: 36px;
  justify-content: center;
  margin: 0 207px;
}

.ad_list {
  max-width: 25%;
  width: 100%;
}

// Section Our Clients

.sec_clients {
  padding-bottom: 95px;
}

.client_para {
  font-family: Avenirheavy;
  color: #0e054d;
  text-align: center;
  margin-bottom: 70px;
}

.clients_logos {
  margin: 0 155px;
}

.work_with_us {
  background-image: url(../image/workwithus.png);
  height: 580px;
  margin-bottom: 63px;
  position: relative;
}

.work_heading_up {
  color: white;
}

.work_heading_down {
  color: #a871ff;
  margin-bottom: 43px;
}

.work_content {
  text-align: center;
}

.sec_funnel_conversion {
  margin: 0 165px;
}

.funnel_conversion {
  margin-bottom: 123px;
  justify-content: space-between;
  gap: 85px;
}
.content {
  width: 50%;
}

.content_item {
  margin-bottom: 30px;
}

.content-head {
  margin-bottom: 10px;
}

.image {
  width: 50%;
}

.learn_more {
  font-family: Avenirheavy;
}

// SEC TESTIMONIAL

.sec_testimonial {
  padding-bottom: 100px;
}

.testimonial_bg {
  background-image: url(../image/feedback.png);
  height: 580px;
  position: relative;
}

.testimonial {
  text-align: center;
  color: white;
}

.testi-heading {
  max-width: 755px;
  width: 100%;
  color: white;
}

.testi-highlight {
  background-color: #a871ff;
}

.testi_img {
  width: 100%;
}

// TRACK RECORD SECTION

.sec_track_rec {
  padding-bottom: 100px;
}

.track-heading {
  max-width: 550px;
  width: 100%;
  margin: 0 auto 18px;
}

.track {
  grid-template-columns: repeat(5, 1fr);
  margin: 0 169px 35px;
  gap: 38px;
  place-items: center;
}

.bg_track {
  background-image: url(../image/studio-melia.png);
  height: 190px;
  width: 190px;
  border-radius: 10px;
}

.track_content{
  text-align: center;
}

.growth {
  color: white;
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 50px;
}

.discription {
  font-family: Avenirbook;
  font-size: 10px;
  color: white;
  line-height: 30px;
}

.bg_track1{
  background-image: url(../image/clothcord.png);
}

.bg_track2{
  background-image: url(../image/gadget-flow.png);
}

.bg_track3{
  background-image: url(../image/kiss-metrics.png);
}

.bg_track4{
  background-image: url(../image/bouqs.png);
}

.bg_track5{
  background-image: url(../image/summer-board.png);
}

.bg_track6{
  background-image: url(../image/anson-calder.png);
}

.bg_track7{
  background-image: url(../image/shock-surplus.png);
}

.bg_track8{
  background-image: url(../image/johny-rosie.png);
}

.bg_track9{
  background-image: url(../image/moqzart.png);
}

.track-link{
  text-align: center;
  display: block;
}

//BLOG SECTION

.blog_sec{
  background-image:url(../image/blog-sec.png);
  height: 580px;
  position: relative;
}
.blog-text{
  font-size: 20px;
  font-weight: 500;
  color:white;
}
.blog_item{
  grid-template-columns: repeat(3,1fr);
}